<!DOCTYPE html>
<html>
<head>
    <title>Test Vue app</title>
    <script src="https://unpkg.com/vue"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<div id="app">

    <div class="container">

        <div class="row">

            <div class="col-sm">

                <h1 class="text-center">Simple redactor</h1>

                <hr>

                <form action="" v-on:submit.prevent="onSubmit">

                    <redactor v-bind:value="html" v-on:input="remember($event)"></redactor>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>

        </div>

        <div class="row">
            <h2 class="col-sm" v-html="content" @click="edit"></h2>
        </div>

    </div>
</div>

<!-- Template -->
<script type="text/x-template" id="redactor-template">
    <div class="form-group row">
        <div class="col-6">
            <label for="redactor">{{ label }}:</label>
        </div>
        <div class="col-6 text-right">
            <div class="btn-group" role="group" aria-label="Buttons">
                <button type="button" class="btn btn-secondary" v-on:click="toggleStrong">
                    <strong>
                        Strong
                    </strong>
                </button>
                <button type="button" class="btn btn-secondary" v-on:click="toggleUnderline">
                    <u>
                        Underline
                    </u>
                </button>
                <button type="button" class="btn btn-secondary" v-on:click="toggleItalic">
                    <i>
                        Italic
                    </i>
                </button>
            </div>
        </div>
        <div class="col-12">
            <textarea
                    name="redactor"
                    id="redactor"
                    cols="60"
                    rows="10"
                    class="form-control"
                    v-bind:value="value"
                    v-on:input="edit($event.target.value)"
            >
            </textarea>
        </div>
    </div>
</script>

<script>
    class Tag {
        constructor(tagName) {
            this.tagName = tagName;
        }

        get open() {
            return '<' + this.tagName + '>';
        }

        get close() {
            return '</' + this.tagName + '>';
        }
    }

    class Text {
        constructor(string) {
            this.string = string;
        }

        toggleTag(tag) {
            if (this.selected.length === 0) {
                return this.string;
            }

            return this.tagExists(tag)
                ? this.removeTag(tag)
                : this.addTag(tag);
        }

        tagExists(tag) {
            return this.selected.indexOf(tag.open) === 0 && this.selected.substr(-tag.close.length) === tag.close;
        }

        addTag(tag) {
            let string = tag.open + this.selected + tag.close;
            return this.createString(string);

        }

        removeTag(tag) {
            let string = this.selected.substr(tag.open.length, this.selected.length - tag.open.length - tag.close.length);
            return this.createString(string);
        }

        createString(string) {
            let textArea = document.getElementById('redactor');
            let first = this.string.substr(0, textArea.selectionStart);
            let last = this.string.substr(textArea.selectionEnd, this.string.length);

            return first + string + last;
        }

        get selected() {
            if (window.getSelection) {
                return window.getSelection().toString();
            } else if (document.selection && document.selection.type !== 'Control') {
                return document.selection.createRange().text;
            }

            throw new Error('Can\'t get the selected text.');
        }
    }

    Vue.component('redactor', {
        props: {
            label: {
                type: String,
                default: 'Enter text below'
            },
            value: {
                type: String,
                default: ''
            }
        },
        template: '#redactor-template',
        methods: {
            toggleTag: function (tagName) {
                let tag = new Tag(tagName);
                let text = new Text(this.value);

                try {
                    let newValue = text.toggleTag(tag);
                    this.edit(newValue);
                } catch (e) {
                    alert(e);
                }
            },
            toggleStrong: function () {
                this.toggleTag('strong');
            },
            toggleUnderline: function () {
                this.toggleTag('u');
            },
            toggleItalic: function () {
                this.toggleTag('i');
            },
            edit: function (value) {
                this.$emit('input', value);
            }
        },
    });

    new Vue({
        el: '#app',
        data: {
            content: '',
            html: ''
        },
        methods: {
            edit: function () {
                this.html = this.content;
                this.content = '';
            },
            remember: function (value) {
                this.html = value;
            },
            onSubmit: function () {
                this.content = this.html;
                this.html = '';
            }
        }
    })
</script>
</body>
</html>